<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mapp Storytelling!</title>
  </head>
  <body>
    {% block title %}
    <center><h1>A List of Legends</h1></center>
    {% endblock %}

    {% block searchBar %}
    <center>
    <form action="/viewStory" method="get">
    Search Stories: <input type="text" name="search"> <input type="submit" value="Search">
    </form>
    </center>
    {% endblock %}

    {% block stories %}
    <center>
    <table>
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>Continue the Story</th>
      </thead>
      {% for story in stories %}
        <tr>
          <td>{{story[0]}}</td>
          <td>{{story[1]}}</td>
          <td>
			<form action= "/editStory">
				<button type="submit" name={{story[0]}} value={{story[1]}}>Edit</button>
			</form>
		  </td>
        </tr>
      {% endfor %}
    </table>
    </center>
    {% endblock %}
  </body>
</html>
