<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mapp Storytelling</title>
  </head>
  <body>
    {% block pageHeader %}
    <center><h1>Start your tale...</h1></center>
    {% endblock %}
    <br>
	{% block errorMessages %}
      {% for error in get_flashed_messages() %}
            <center><h4><font color="red">{{error}}</font></h4></center>
      {% endfor %}
    {% endblock %}
    <br>
    <form action="/createStory" method="Post">
    {% block title %}
    <h3>Name Your Story: <input type="text" name="title" value={{ttle}}></h3>
    {% endblock %}
    <br>
    <br>
    {% block introduction %}
    <h3>Begin Your Story: <input type="text" name="introduction" value={{Story}} ></h3>
    {% endblock %}
    <br>
    <input type="submit" value="Tell Your Legend">
    </form>
  </body>
</html>
