<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iYagi | Login</title>

    <link rel= "stylesheet" type= "text/css" href= "/static/style.css">

  </head>
  <body>
    {% block heading %}
    	<h1><br>Login to <i>iYagi</i></h1>
    	<br>
    {% endblock %}

    <div class="error">
      {% block errorMessages %}
        {% for error in get_flashed_messages() %}
            <h4>{{error}}</h4>
        {% endfor %}
      {% endblock %}
    </div>

    {%block inputs%}
      <br>
      <center>
      <form action="/login" method="post">
        <h3>Username: <input type="text" name="username"></h3>
        <h3>Password: <input type="password" name="password"></h3>
        <input type="submit" value="Login">
      </form>
      </center>
    {%endblock%}

    <div class="makeAccount">
    {%block redirect %}
      Don't have an account? Create one <a href="/create" method="post">here!</a>
    {%endblock%}
    </div>

    <div class="footer">
      &copy; copyright mapp, 2019
    </div>
  </body>
</html>
