<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mapp Storytelling!</title>
  </head>
  <body>
    {% extends 'allStories.html' %}

    {% block title %}
    <center><h1>Your Stories</h1></center>
    {% endblock %}

    {% block stories %}
    <center>
    <table>
      <thead>
        <th>Title</th>
        <th>Description</th>
        <th>Read the Story</th>
      </thead>
      {% for story in stories %}
        <tr>
          <td>{{story[0]}}</td>
          <td>{{story[1]}}</td>
          <td><a href="/readStory">{{storyLink}}</a></td>
        </tr>
      {% endfor %}
    </table>
    </center>
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><a href="/">Return to Home!</a></center>
  </body>
</html>
