<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mapp Storytelling!</title>
  </head>
  <body>
    {% extends "allStories.html" %}

    {% block title %}
    <center><h1>{{ title }}</h1></center>
    {% endblock %}

    {% block searchBar %}
    {% endblock %}

    {% block stories %}
    <center>
    <table>
      <thead>
        <th>Update</th>
        <th>Author</th>
        <th>Timestamp</th>
      </thead>
      {% for story in stories %}
        <tr>
          <td>{{story[0]}}</td>
          <td>{{story[1]}}</td>
          <td>{{story[2]}}</td>
        </tr>
      {% endfor %}
    </table>
    </center>
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><a href="/">Return to Home!</a></center>
  </body>
</html>
