<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mapp Storytelling</title>
  </head>
  <body>
    {% block pageHeader %}
    <center><h1>Continue the Legend...</h1></center>
    {% endblock %}

    <center>{{ lastUpdate }}</center>
    <form action="/addToStory" method="get">
    {% block title %}
    <h3>Title: <i>{{ ttle }}</i></h3>
    {% endblock %}
    <h3>Current Story:<h3>
    {{ Story }}<br><br>
    {% block introduction %}
    <h3>Add Your Update: <input type="text" name="introduction" value="title"></h3>
    {% endblock %}
    <br>
    <input type="submit" value="Tell Your Legend">
    </form>
  </body>
</html>
