<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>iYagi | Continue A Story</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    {% block pageHeader %}
    <center><h1>Continue the Legend...</h1></center>
    {% endblock %}<br>

    {% block errorMessages %}
      {% for error in get_flashed_messages() %}
            <center><h4><font color="red">{{error}}</font></h4></center>
      {% endfor %}
    {% endblock %}<br>

    <center>{{ lastUpdate }}</center>
    <center>
    <form action="/addToStory?title={{ttle}}" method="post">
    {% block title %}
    <h3>Title: <i>{{ ttle }}</i></h3>
    {% endblock %}
    <h3>Current Story:<h3>
    {{ Story }}<br><br>
    {% block introduction %}
    <h3>Add Your Update: <input type="text" name="introduction" value="Story"></h3>
    {% endblock %}
    <br>
    <input type="submit" value="Tell Your Legend">
    </form>
  </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center><a href="/">Return to Home!</a></center>
    <br>
    <br>
    <br>
    <br>
    <div class="footer">
      &copy; copyright mapp, 2019
    </div>
  </body>
</html>
